<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
<div>
    <h1>LOGIN</h1>
    <fieldset STYLE="width: fit-content;">

        <form action="/login" method="post">
            <input type="email" placeholder="Введите Ваш email адрес..."  name="email" />
            <input type="password" placeholder="Ваш сложный пароль..."name="password" />
            <input type="submit" value="GO baby!! GO!!" />
        </form>


    </fieldset>
</div>
</body>
</html>
