<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REGISTER </title>
</head>
<body>
<div style="width: content-box">
    <button > <a href="/registration"> PLEASE REGISTR</button>
</div>
<br>
<div>
    <button> <a href="/login"> PLEASE login</button>
</div>
</body>
</html>
