<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
УРА


{{#each users}}

        <div>{{this.name}}</div>
        <div>{{this.email}}</div>
        <div>{{thiss.password}}</div>
    {{/each}}

<div style="width: 200px">
    <button><a href="/login">logout</button>
</div>


</body>
</html>
