doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.color
            | WE ARE THE BEST OF THE BEST
            br
            | June-2020-is-angry-- WE HAPPY
            br
            a(href="http://localhost:3000") Our Site
